.footer {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: #1A4D2E;
    padding: 20px;
}

.text{
    color: #E8DFCA;
}

.social-icon-footer img {
    height: 30px;
    margin: 5px;
}

.contactUs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 150px;
}